<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184995618307-ho6omfi8ihsbt881aosd9m98htdsgdqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184995618307-ho6omfi8ihsbt881aosd9m98htdsgdqs</string>
	<key>API_KEY</key>
	<string>AIzaSyD4w8i7t5JZIaT3_AvJjuHIGVsaCFLzI_0</string>
	<key>GCM_SENDER_ID</key>
	<string>184995618307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gallaugher.DoorSign</string>
	<key>PROJECT_ID</key>
	<string>doorsign-3557c</string>
	<key>STORAGE_BUCKET</key>
	<string>doorsign-3557c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184995618307:ios:842476a741b07e4c</string>
	<key>DATABASE_URL</key>
	<string>https://doorsign-3557c.firebaseio.com</string>
</dict>
</plist>